.footer-head
	.container
		.row
			.col
				.footer-block__logo
					.logo waxom
					.footer-block__p
						|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
					.footer-block__btn
						a(href="#").btn read more

			.col
				.footer-block
					h2.footer-block__h2.
						recent posts
					.footer-block__info
						.footer-block__data September 08, 2015
						.footer-block__p.
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					.footer-block__info
						.footer-block__data September 08, 2015
						.footer-block__p.
							Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
					.footer-block__info
						.footer-block__data September 08, 2015
						.footer-block__p.
							Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
			.col
				.footer-block
					h2.footer-block__h2.
						our twitter
					.footer-block__info
						.footer-block__p.
							<a href="#">waxom</a>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit
						.footer-block__data 3 mins ago
					.footer-block__info
						.footer-block__p.
							Lorem ipsum dolor <a href="#">#envanto</a> sit amet, consectetuer adipiscing elit
						.footer-block__data 5 hourse ago
					.footer-block__info
						.footer-block__p.
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit
						.footer-block__data 20 days ago
			.col
				.footer-block__logo
					h2.footer-block__h2 dribble widget
					.row
						.col
							img(src="../image/footer-head_photo1.jpg" alt="kartinka")
						.col
							img(src="../image/footer-head_photo2.jpg" alt="kartinka")
						.col
							img(src="../image/phooter-head_photo-3.jpg" alt="kartinka")
						.col
							img(src="../image/phooter-head_photo4.jpg" alt="kartinka")
