.footer-foot
	.container
		.row
			.col
				.footer-foot-block1
					.footer-foot__p.
						Copyright © 2015 <span class="footer-foot__p-logo">Waxom</span>
					.footer-foot__p.
						Privacy Policy 	
					.footer-foot__p.
						FAQ
					.footer-foot__p.
						Support
			.col
				.footer-foot-block1
					.footer-foot__p.
						Designed by ThemeFire
					.footer-foot__p.
						Only on Envato Market
