.header
	.owl-carousel.owl-theme
		.item
			.item__text
				h3.text__h3 Unique and Modern Design
				h2.text__h2 Portfolio PSD Template
				p.text__p.
					Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
				a(href="#").item__btn set started

		.item
		.item
		.item
	.nav
		.nav-block
			.logo waxom
			.hamburger.hamburger--spring
				.hamburger-box
					.hamburger-inner
			ul.menu
				li.menu-li
					a.menu-link(href="#") home
				li.menu-li
					a.menu-link(href="#") about us
				li.menu-li
					a.menu-link(href="#") portfolio
				li.menu-li
					a.menu-link(href="#") features
				li.menu-li
					a.menu-link(href="#") blog
				li.menu-li
					a.menu-link(href="#") pricing
				li.menu-li
					a.menu-link(href="#") shortcodes
				li.menu-li
					a.menu-link(href="#") contact
			form.form(action="#")
				input(type="search" data-rel="drop").search
				button 
		