.header
	.owl-carousel.owl-theme
		.item
			.item__text
				h3.text__h3 Unique and Modern Design
				h2.text__h2 Portfolio PSD Template
				p.text__p.
					Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
				a(href="#").item__btn set started

		.item
		.item
		.item
	.nav
		.logo waxom
		.m-hamburger.m-hamburger-collapse
			.m-hamburger-box
				.m-hamburger-inner