.main-counters
    .container
        .row
            .col
                .counters-block
                    .counters-block__icon
                    .counters-block__info
                        span#info 2500
                    .counters-block__p
                        | blog posts
            .col
                .counters-block
                    .counters-block__icon
                    .counters-block__info
                        span#info 2500
                    .counters-block__p
                        | blog posts
            .col
                .counters-block
                    .counters-block__icon
                    .counters-block__info
                        span#info 2500
                    .counters-block__p
                        | blog posts
            .col
                .counters-block
                    .counters-block__icon
                    .counters-block__info
                        span#info 2500
                    .counters-block__p
                        | blog posts
            .col
                .counters-block
                    .counters-block__icon
                    .counters-block__info
                        span#info 2500
                    .counters-block__p
                        | blog posts