.main-theme
    .container
        .row
            .col
                .main-theme_text
                    h2.theme_h2 <span class='theme-logo'>Waxom</span> Multipurpose WordPress Theme
                    p.theme_p Don't Forget to Rate the Template. Thanks so much!
            .col
                .theme-btn
                    a(href="#").item__btn Purchase Now
        