.main-header
    .container
        //- .main-header_flex
        //-     .main-header_read.
        //-         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis minus nemo impedit molestias nam fugit expedita et neque deserunt?
        //-     .main-header_read.
        //-         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis minus nemo impedit molestias nam fugit expedita et neque deserunt?
        //-     .main-header_read.
        //-         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis minus nemo impedit molestias nam fugit expedita et neque deserunt?
        //-     .main-header_read.
        //-         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo provident veniam iste repellat asperiores esse minima atque laudantium, culpa ipsam.
        //-     .main-header_read.
        //-         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis minus nemo impedit molestias nam fugit expedita et neque deserunt?
        .row
            .col Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veritatis animi excepturi asperiores vero, commodi ipsum maxime quam voluptatem cumque.
            .col Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veritatis animi excepturi asperiores vero, commodi ipsum maxime quam voluptatem cumque.
            .col Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veritatis animi excepturi asperiores vero, commodi ipsum maxime quam voluptatem cumque.
            .col Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veritatis animi excepturi asperiores vero, commodi ipsum maxime quam voluptatem cumque.