// start main-header
section.main-header
    .container
        .row
            .col
                .main-header_read
                    .line
                    .read_icon
                    h2.read_h2 web & app design
                    p.read_p.
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
            .col
                .main-header_read
                    .line
                    .read_icon.read_icon-2
                    h2.read_h2 development
                    p.read_p.
                       Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
            .col
                .main-header_read
                    .line
                    .read_icon.read_icon-3
                    h2.read_h2 customization
                    p.read_p.
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
            .col
                .main-header_read
                    .line
                    .read_icon.read_icon-4
                    h2.read_h2 marketing
                    p.read_p.
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.