section.main-tabs
    .container
        .main-tabs__text
            h2.main-tabs__text-h2 Our Latest Projects.
            p.main-tabs__text-p 
                | Investigationes demonstraverunt lectores legere me 
                | lius quod ii legunt saepius. Claritas est etiam processus
                | dynamicus, qui sequitur mutationem consuetudium.
        .main-tabs__tabs
            ul.tabs
                li.tabs-li
                    a(href="#all" data-tab="all") all
                li.tabs-li
                    a(href="#web" data-tab="web") web design
                li.tabs-li
                    a(href="#mobile" data-tab="mobile") mobile app
                li.tabs-li
                    a(href="#illustration" data-tab="illustration") illustration
                li.tabs-li
                    a(href="#photography" data-tab="photography") photography
            #all.tab_content
                .row
                    .col(data-tab="web").animated
                        .tabs-block(data-tab="web")
                            .tab-block__img
                                img(src="image/tabs_first.jpg", alt="image")
                            .tabs-block__info
                                .tabs-block__info-h2 Claritas Etiam Processus
                                .tabs-block__info-p.
                                    Photography, Nature
                    .col(data-tab="photography").animated
                        .tabs-block(data-tab="photography")
                            .tab-block__img
                                img(src="image/tabs_second.jpg", alt="image")
                            .tabs-block__info
                                .tabs-block__info-h2 Claritas Etiam Processus
                                .tabs-block__info-p.
                                    Photography, Nature
                    .col(data-tab="web").animated
                        .tabs-block(data-tab="web")
                            .tab-block__img
                                img(src="image/tabs_third.jpg", alt="image")
                            .tabs-block__info
                                .tabs-block__info-h2 Claritas Etiam Processus
                                .tabs-block__info-p.
                                    Photography, Nature
                    .col(data-tab="mobile").animated
                        .tabs-block(data-tab="mobile")
                            .tab-block__img
                                img(src="image/tabs_fourst.jpg", alt="image")
                            .tabs-block__info
                                .tabs-block__info-h2 Claritas Etiam Processus
                                .tabs-block__info-p.
                                    Photography, Nature
                    .col(data-tab="mobile").animated
                        .tabs-block(data-tab="mobile")
                            .tab-block__img
                                img(src="image/tabs_fifst.jpg", alt="image")
                            .tabs-block__info
                                .tabs-block__info-h2 Claritas Etiam Processus
                                .tabs-block__info-p.
                                    Photography, Nature
                    .col(data-tab="illustration").animated
                        .tabs-block(data-tab="illustration")
                            .tab-block__img
                                img(src="image/sixest.jpg", alt="image")
                            .tabs-block__info
                                .tabs-block__info-h2 Claritas Etiam Processus
                                .tabs-block__info-p.
                                    Photography, Nature
            
        .main-tabs__btn
            a(href="#").item__btn load more