section.main-logotyps
    .container
        .row
            .col
                .logotyps-icon
            .col
                .logotyps-icon
            .col
                .logotyps-icon
            .col
                .logotyps-icon