section.main-posts
    .container
        .main-posts__h2 Recents Posts
        .main-posts__p
            | Investigationes demonstraverunt lectores 
            | legere me lius quod ii legunt saepius. Claritas est 
            | etiam processus dynamicus, qui sequitur mutationem consuetudium.
        .owl-carousel.owl-theme#main-posts__owl
            .item
                .main-posts__block
                    .data
                        .data-chislo 30
                        .data-mes sep.
                    .main-posts__block-img
                        img(src="image/posts_img2.jpg", alt="img3")
                    .main-posts__block-info
                        h2 Lorem ipsum dolor sit amet
                        p.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        .main-posts__block-btn
                            a(href="#").item__btn read more
                        
            .item
                .main-posts__block
                    .data
                        .data-chislo 30
                        .data-mes sep.
                    .main-posts__block-img
                        img(src="image/posts_img3.jpg", alt="img3")
                    .main-posts__block-info
                        h2 Lorem ipsum dolor sit amet
                        p.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        .main-posts__block-btn
                            a(href="#").item__btn read more
                        
            .item
                .main-posts__block
                    .data
                        .data-chislo 30
                        .data-mes sep.
                    .main-posts__block-img
                        img(src="image/posts_img1.jpg", alt="img3")
                    .main-posts__block-info
                        h2 Lorem ipsum dolor sit amet
                        p.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        .main-posts__block-btn
                            a(href="#").item__btn read more
                        
            .item
                .main-posts__block
                    .data
                        .data-chislo 30
                        .data-mes sep.
                    .main-posts__block-img
                        img(src="image/posts_img2.jpg", alt="img3")
                    .main-posts__block-info
                        h2 Lorem ipsum dolor sit amet
                        p.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        .main-posts__block-btn
                            a(href="#").item__btn read more
                        