.main-tabs
    .container
        .main-tabs__text
            h2.main-tabs__text-h2 Our Latest Projects.
            p.main-tabs__text-p 
                | Investigationes demonstraverunt lectores legere me 
                | lius quod ii legunt saepius. Claritas est etiam processus
                | dynamicus, qui sequitur mutationem consuetudium.
        .main-tabs__tabs
            ul.tabs
                li.tabs-li
                    a(href="#") all
                li.tabs-li
                    a(href="#") web design
                li.tabs-li
                    a(href="#") mobile app
                li.tabs-li
                    a(href="#") illustration
                li.tabs-li
                    a(href="#") photography
            .row
                .col
                    .tabs-block
                .col
                    .tabs-block
                .col
                    .tabs-block
                .col
                    .tabs-block
                .col
                    .tabs-block
                .col
                    .tabs-block
        .main-tabs__btn