.main-mobile
    .container
        .row
            .col
                .mobile-img
                    img(src="image/iPhone-in-hand.png", alt="img")
            .col
                .mobile-text
                    .mobile-text__h2 Excellent for Mobile Devices.
                    .mobile-text__p Qisi enim ad minim veniam, 
                        | quis nostrud exerci tation ullamcorper 
                        | suscipit lobortis nisl ut aliquip ex ea 
                        | commodo consequat. Investigationes demonstraverunt 
                        | lectores legere me lius quod ii legunt saepius claritas. 
                        | Eodem modo typi, qui nunc nobis videntur parum clari, 
                        | fiant sollemnes in futurum.
                    .mobile-text__ul
                        li.mobile-text__ul-li Nam liber tempor cum soluta nobis eleifend option;
                        li.mobile-text__ul-li Option congue nihil imperdiet doming id quod mazim placerat facer;
                        li.mobile-text__ul-li Eodem modo typi, qui nunc nobis videntur parum futurum;
                        li.mobile-text__ul-li Investigationes demonstraverunt lectores