section.main-video
    .fonvideo
            img(src="image/video-fon.jpg", alt="fon")
            .video-text
                h2.video-text-h2 Waxom Video Presentation
                p.video-text-p
                    | Investigationes demonstraverunt lectores 
                    | legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
    video#my-video.video-js(controls preload="auto" data-setup='{}')
        source(src="video/Wacom Cintiq 27QHD - Official Trailer.mp4" type="video/mp4")