.main-tabs
    padding: 70px 0
    &__text
        text-align: center
        padding-bottom: 35px
        &-h2
            +raleway(600)
            font-size: 30px
            color: #555555
            margin-bottom: 15px
        &-p
            +montserrat(300)
            font-size: 1em
            color: #8c8c8c
            line-height: 28px
    &__tabs
        +setka(1/2,1/3)
        ul.tabs
            margin: 0
            padding: 0
            list-style: none
            text-align: center
            +media(480px)
                display: flex
                flex-flow: row nowrap
                justify-content: center
            li.tabs-li
                margin: 0
                padding: 0
                margin-top: 10px
                +media(480px)
                    margin-top: 0
                    margin-left: 10px
                    &:first-child
                        margin-left: 0
                // border: 1px solid red
                &:first-child
                    margin-top: 0
                a
                    +montserrat(300)
                    font-size: 14px
                    text-decoration: none
                    line-height: 21px
                    color: #8c8c8c
                    text-transform: capitalize
                    display: block
                    padding: 10px 20px
                    border: 1px solid #ebebeb
                    border-radius: 5px
        .tabs-block
            border: 1px solid red
            height: 300px
+media(480px)
    